* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(circle at top, #06090f, #000);
  color: white;
}

/* Canvas */
canvas {
  position: fixed;
  inset: 0;
  z-index: -1;
}

/* Foreground UI */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

h1 {
  font-size: 2.6rem;
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 0 0 18px rgba(255,255,255,0.35);
}

.upload-box {
  padding: 20px 40px;
  border: 2px solid white;
  border-radius: 12px;
  cursor: pointer;
  background: rgba(255,255,255,0.06);
  color: white;
  transition: 0.3s;
}

.upload-box:hover {
  background: rgba(255,255,255,0.12);
  transform: scale(1.06);
  box-shadow: 0 0 20px rgba(255,255,255,0.3);
}

#status {
  margin-top: 15px;
  color: #ddd;
}
